<h2>Administrate users</h2>

<form class="form-horizontal">
    <a href="/Admin/UserAdmin/Ban" class="form-control">Ban user</a>
    <a href="/Admin/UserAdmin/Admin" class="form-control">Make user admin</a>
    <a href="/Admin/UserAdmin/UserM" class="form-control">Make admin user</a>
</form>